.image1{
    background-image: url(../../assets/images/motherboard.jpg);
    justify-content: right;
    margin-right: 10rem;

}
.home {
    color: antiquewhite;
    text-align: center;
}

h1{
    color: antiquewhite;
}

/* .logos {
    width: 10%;
    height: auto;
} */

@media screen and (min-width: 350px) and (max-width: 414px) {
    .home {
        width: 80%;
        margin: auto;
    }

    .btn {
        font-size: 80%;
        width: 40%;
    }
    
}