.image1{
    background-image: url(../../assets/images/motherboard.jpg);
    justify-content: right;
    margin-right: 10rem;
}
.home {
    background-color: white;
    color: white;
}

h1{
    color: antiquewhite;
    text-align: center;
}
p{
    color: antiquewhite;
    text-align: center;
}

