/* Services.css */
.packages{
    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.cards{
display: flex;
margin: 10rem;

}
.webcards{
    margin-bottom: -2rem;
    margin-top: 10rem;
    /* margin-right: 4rem; */
    text-align: center;
}

.card{
color: antiquewhite;
background-color: #2d3e50;
opacity: 0.8;
margin-top: -5rem;
margin-right: 4rem;
margin-left: 2rem ;
width: 120rem;

}

#webheader{
text-align: center;
}
.webcard{
margin-top: 5rem;
margin-right: 3rem;
}
/* #webdev{
    margin-right: -6rem
} */
#apps{
    margin-top: -5rem;
}

#app-dev{
    /* margin-right: 4rem; */
    text-align: center;
}
.appcards{
display: flex;
margin: 10rem;
margin-right: 3rem;
margin-bottom: -3rem;
}

.appcard {
color: antiquewhite;
background-color: #2d3e50;
opacity: 0.8;
margin-right: 6rem;
width: 120rem;
margin-top: -5rem;
margin-bottom: 5rem;
}
h2{
    color: antiquewhite;
}
h3{
    color: antiquewhite;
    text-align: center;
    /* text-align: 2px left; */
    text-decoration: underline;
    /* margin-right: 3rem; */
    
}

h4{
    text-align: center;
    color: antiquewhite;
}

h5{
    text-align: center;
}
p{
    text-align: center;
}

#bronze{
    color: #9a8424;
}
#silver {
    color: #a0a9ac;
}

#gold {
    color: gold;
}

#l1 {
    margin-bottom: 12px;
    text-align: center;
    
}

.logo{
align-items: center;
}

