.header{
    margin-bottom: -25rem ;
    background-color: #232b2b;
}

.titleimage{
    background-image: url(../../assets/images/rose-tech.jpg);
    margin: auto;
    width: 120px;
    height: 145px;
    margin-top: -2px;
    background-position: center;
    background-size: 10rem ;
    /* margin-right: 1rem; DO NOT UNDO THIS LINE FATAL TO NAVBAR */
    margin-left: -1rem;
}

nav ul{

  
    margin-bottom: 0px;
    cursor: grab;
    margin: 5px;
}

nav li{
    cursor: grab;
    margin: 5px;
    border: solid 1px;
    text-align: center;
}


@media screen and (min-width: 350px) and (max-width: 414px) {
    nav ul {
        flex-wrap: wrap;
        margin-top: -10rem;
        margin-bottom: -10rem;
        justify-content: end;
    }

    .rose-nav ul li {
        width: 35%;
        font-size: 60%;
        text-align: center;
        margin: 5px;
        padding: 5px;
        /* margin-right: 10px; */
    }

}