.header{
    margin-bottom: -25rem ;
}

.titleimage{
    background-image: url(../../assets/images/rose-tech.jpg);
    margin: auto;
    width: 120px;
    height: 145px;
    margin-top: -2px;
    background-position: center;
    background-size: 10rem ;
    margin-right: 1rem;
    margin-left: -1rem;
}

nav ul{

    margin-right: 1rem;
    margin-bottom: 0px;
    cursor: grab;
}

nav li{
    cursor: grab;
}

@media screen and (max-width: 414px) {
    nav ul {
        flex-wrap: wrap;
        margin-top: -10rem;
        margin-bottom: -10rem;
    }

    nav ul li {
        text-align: end;
    }

    .rose-nav ul li {
        justify-content: end;
        margin: 0;
        padding: 5px;
        margin-right: 10px;
    }
}